@import url("https://use.typekit.net/fkz3xpt.css");

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alert {
  color: #FA4160;
  font-size: 1rem;
}